# quota: 33
expire_after: 24 # hours
max_file_size: 268435456 # 256Mb
smtp_server:
  server: smtp.gmail.com
  port: 587
  username: john.doe@gmail.com
  password: vhibrvobsjvobsnj
  from: john.doe@gmail.com
allowed_emails:
  - me@john-doe.it
